body{
	font-family: Verdana, Calibri, sans-serif;
	margin: 0px;
	padding: 0px;
}

nav > ul {
	margin: 0px;
	padding: 0px;
}

nav li{
	list-style-type: none;
}

nav > ul > li {
	float: left;
	position: relative;
}

.submenu{
	display: none;
}

nav input[type=checkbox]{
	display: none;
}

.menu-mobile{
	display: none;
}

nav {
	width: 100%;
	background-color: #424558;
}

/*Un 'huck' CSS (clearfix) tres connu */
nav > ul::after{
	content: "";
	display: table;
	clear: both;
}

nav a{
	display: inline-block;
	text-decoration: none;
}

nav > ul > li > a{
	padding: 20px 30px;
	color: #FFF;
}

nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 100000;
}

.submenu li{
	border-bottom: 1px solid #ccc;
}

.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: #CD5C5C;
	width: 270px;
}

.menu-html:hover{
	border-top: 5px solid #e44d26;
	background-color: rgba(228, 77, 38, 0.15);
}

.menu-css:hover{
	border-top: 5px solid #0070BB;
	background-color: rgba(000, 112, 192, 0.15);
}

.menu-js:hover{
	border-top: 5px solid #f1dc4f;
	background-color: rgba(241, 211, 79, 0.15);
}

.menu-contact:hover{
	border-top: 5px solid #BBB;
	background-color: rgba(220, 220, 220, 0.15);
}